* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--light);
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  content-visibility: auto;
}

:root {
  --website: #ff385c;
  --discount: #f11a00;
  --white: #ffffff;
  --black: #000000;
  --grey: #848484;
  --light-black: #212121;
  --light: "Nunito-Light", sans-serif;
  --medium: "Nunito-Medium", sans-serif;
  --bold: "Nunito-Bold", sans-serif;
}

@font-face {
  font-family: "Nunito-Light";
  src: url("../fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito-Medium";
  src: url("../fonts/Nunito-Medium.ttf");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito-Bold.ttf");
}

main {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 0rem;
}
.header {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}
/* Navbar */
.navbar {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
}
.logo {
  font: 600 4em var(--bold);

  margin-right: 1.5em;
  display: flex;
}

.logo > a {
  color: var(--website);
}

.menuBtn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-right: 1em;
}
.menuBtn > img {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
}

.locationBtn {
  display: inline-block;
  font-family: inherit;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5.5em;
  font: 400 1.4rem var(--medium);
}

.locationBtn > img {
  height: 1.6rem;
  left: 1.6rem;
  vertical-align: middle;
}

.searchHolder {
  width: 30rem;
}
.searchHolder > input {
  display: block;

  width: 100%;
  padding: 1rem;
  font: 400 1.4rem var(--medium);
  color: #212121;
  box-shadow: 0 0.2rem 0.8rem rgba(28, 28, 28, 0.08);
  border: 0.1rem solid #e8e8e8;
  background: url("../icons/search.svg") center right 0.7rem no-repeat,
    transparent;
  border-radius: 1rem;
}

.flex1 {
  flex: 1;
}

.navbarLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbarLinks > a {
  display: flex;
  align-items: center;

  padding: 1rem;
  color: var(--light-black);

  font: 500 1.4rem var(--medium);
  gap: 0.5rem;
  background-color: transparent;
}

.navbarLinks > a > img {
  height: 3rem;
  width: 3rem;

  vertical-align: middle;
  opacity: 0.7;
}

/* Dynamic Links */
.sidemenu-wrapper {
  position: relative;
}
.dynamicLinks {
  position: relative;
  z-index: 99;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.user-controlls {
  position: relative;

  display: none;
  gap: 1.5rem;

  height: auto;
  width: 100%;
  padding: 2rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.user-controlls > img {
  height: 5rem;
  width: 5rem;
  opacity: 0.7;
}
.close-sidemenu {
  font-size: 2rem;
  padding: 0.3rem 0.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.close-sidemenu:active {
  transform: scale(0.96);
}
.dynamicLinks-holder {
  padding: 1rem;
  width: fit-content;
  margin: 0 auto;
}
.dynamicLinks-holder > a {
  padding: 0.8rem 1.5rem;

  font: 500 1.5em var(--medium);
  border-bottom: 0.2rem solid #fff;
  color: var(--light-black);

  transition: all 0.5s ease;
}

.dynamicLinks-holder > a:hover {
  color: var(--website);
  border-color: var(--website);
}

.name-sign-options > h2 {
  color: var(--light-black);
  font: 600 2rem var(--light);
}

.name-sign-options > p {
  color: #828282;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0 0 0.6rem 0.3rem;
}

.supportsignin-holder > button,
.supportsignin-holder > a {
  background-color: #fff;
  color: var(--website);
  margin: 1em 0.5em 1em 0.3em;
  font: 400 1.5rem var(--medium);
  padding: 0.4rem 1.5rem;
  border: 0.1rem solid var(--website);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.supportsignin-holder > a {
  background-color: var(--website);
  color: #fff;
}

/* Breadcrumbs */
.breadCrumbs {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;

  padding: 1rem;
}

.breadCrumbs > a {
  color: var(--website);
  font: 400 1.4rem var(--medium);
}

.breadCrumbs > p {
  color: var(--light-black);
  font: 400 1.4rem var(--medium);
}

.breadCrumbs > p::before {
  content: ">";
  margin-right: 0.5rem;
}

/* Product */
.link {
  height: auto;
  width: 100%;
}
.imageHolder {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.imageHolder > img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.imageHolder > img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100%;
  height: 0;
}
.productName {
  color: #211a1e;
  font: 500 1.6rem var(--medium);
  line-height: 160%;
  margin-top: 0.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.details {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
}
.price {
  color: var(--black);
  font: 500 1.6rem var(--medium);
  white-space: nowrap;
}
.beforePrice {
  color: #a6a3a5;
  font: 400 1.4em var(--medium);
  line-height: 160%;
  text-decoration: line-through;
  white-space: nowrap;
  margin-left: 0.4rem;
}
.discount {
  color: var(--discount);
  font: 400 1.4rem var(--medium);
  line-height: 160%;
  white-space: nowrap;
  margin-left: 0.8rem;
  text-transform: capitalize;
}

/* SEO content */
.seoContent,
.faqContainer {
  height: auto;
  width: 100%;
  padding: 1rem;

  background-color: var(--white);
}

.seoContent > h1 {
  color: var(--black);

  font: 500 2.5rem var(--medium);
  margin: 1em 0 1.5em;
}
.seoContent > h2 {
  color: var(--black);
  font: 500 2rem var(--medium);
  margin: 0.7em 0;
}
.seoContent > p {
  color: var(--light-black);

  font: 500 1.5rem var(--medium);
  line-height: 2.2rem;
  margin: 0.5em 0;
}

/* Faq */
.faqContainer > h2 {
  color: var(--black);
  font: 500 2.5rem var(--medium);
  margin-bottom: 0.5em;
}

.faqContainer > h2 > img {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
}

.faqQnAs {
  padding: 1rem;
}

.questions {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 1rem;

  font: 500 1.6rem var(--medium);
  color: var(--black);

  margin-top: 0.5em;
  cursor: pointer;
  line-height: 2.5rem;
}

.questions > img {
  height: 2rem;
  width: 2rem;
}

.answers {
  display: none;
  color: var(--grey);
  height: auto;
  width: 100%;

  padding: 1rem 2rem;
  font: 400 1.5rem var(--light);
}

.visible {
  display: block !important;
  animation: TextAnimation 0.5s ease 0s 1 forwards;
}

.blocked,
.block {
  display: block !important;
}

@keyframes TextAnimation {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Footer */
footer {
  height: auto;
  width: 100%;
  background-color: #f3f7f8;
}

.nestedFooter {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: auto;
  width: 100%;
}

.footerHeading {
  color: var(--black);
  font-size: 2.5em;
  font-weight: 600;
  font: 500 2.5rem var(--medium);
  margin-bottom: 0.3em;
}

.linkHolder {
  margin: 0.8em 0;
}

.footerLink {
  position: relative;

  color: #4e4c4c;

  font: 500 1.4rem var(--medium);
  padding: 0.2rem 0rem;
}

.footerLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #4e4c4c;
  transition: all 0.5s ease;
}

.footerLink:hover::before {
  width: 100%;
}

.logoTxt {
  font: 500 4rem var(--medium);
  color: var(--website);
}

.logoTxt + p {
  color: var(--light-black);

  font: 400 1.4rem var(--medium);
}

.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  padding: 1.5rem 0rem;
}

.socials > a {
  position: relative;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.8rem rgba(28, 28, 28, 0.08);
  border: 0.1rem solid #e8e8e8;
  transition: all 0.5s ease;
}

.socials > a > img {
  height: 2.5rem;
  width: 2.5rem;

  vertical-align: middle;
}

.socials > a:hover {
  transform: translateY(-50%);
}

.paymentMethods,
.paymentPortals {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paymentMethods > p {
  color: var(--light-black);
  font: 400 1.4rem var(--medium);
  margin-right: 2.2em;
}
.paymentMethods {
  width: 100%;
  padding: 1rem;
}

.paymentPortals {
  width: 30%;
}

.paymentPortals > img {
  height: 5rem;
  width: 5rem;
}

/* Navigation bar */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: none;

  height: 100vh;
  width: 100vw;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 15;
}

.city-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 35%;
  background-color: #fff;
  z-index: 99;
  border-radius: 20px;
  padding: 20px;
  animation: cityFadein 0.5s ease 0s 1 forwards;
}

@keyframes cityFadein {
  0% {
    top: 150%;
  }

  to {
    top: 50%;
  }
}

.city-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-header > p {
  color: var(--light-black);
  font: 500 2.2rem var(--medium);
}

.city-header > p > img {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
  margin-right: 0.5em;
  opacity: 0.7;
}

.city-header > span {
  font-size: 2.5em;
  cursor: pointer;
}

.city-search {
  padding: 2rem 0rem;
}
.city-search > input {
  display: block;
  width: 100%;
  padding: 1.5rem;

  color: var(--light-black);
  font: 400 1.4rem var(--medium);
  box-shadow: 0 0.2rem 0.8rem rgba(28, 28, 28, 0.08);
  border: 0.1rem solid #e8e8e8;
  background: url("../icons/search.svg") center right 7px no-repeat, transparent;
  border-radius: 1rem;
}

.city-search-list {
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
}

.city-search-list::-webkit-scrollbar {
  width: 1rem;
}

.city-search-list::-webkit-scrollbar-thumb {
  background-color: #2121212d;
  border-radius: 2rem;
}

.city-search-list > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 1rem 0;
  background-color: transparent;
  font: 500 1.5rem var(--medium);
  border: none;
  border-bottom: 0.1rem dashed rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0.7;
}

.city-search-list > button > span > img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.8em;
  vertical-align: middle;
}

/* footer menu*/
.footer-menu {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  bottom: 0rem;
  left: 0rem;
  background-color: #fff;
  box-shadow: 0rem -0.7rem 5.8rem 0rem rgba(0, 0, 0, 0.404);
  -webkit-box-shadow: 0rem -0.7rem 5.8rem 0rem rgba(0, 0, 0, 0.404);
  -moz-box-shadow: 0rem -0.7rem 5.8rem 0rem rgba(0, 0, 0, 0.404);
}
.footer-menu-link {
  background-color: transparent;
  border: none;
}
.footer-menu-link > img {
  display: block;
  margin: auto;
  height: 3rem;
  width: 3rem;
  opacity: 0.6;
  vertical-align: middle;
}

/* sign up popup */
.sign-in-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
}
.sign-in-dialogue {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  height: auto;
  width: 35%;
  padding: 4rem 2rem;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  animation: signupFadein 0.5s ease 0s 1 forwards;
}

@keyframes signupFadein {
  0% {
    top: 150%;
  }

  to {
    top: 50%;
  }
}

.sign-in-dialogue > h2 {
  color: var(--light-black);
  font: 500 3rem var(--medium);
}

.sign-in-dialogue > p {
  color: var(--grey);
  font: 400 1.5rem var(--medium);
}

.signin-form-holder {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  overflow-x: hidden;
}

.signin-form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 2rem 0 1rem;
}

.signin-form > label {
  color: var(--black);
  font: 500 1.6rem var(--medium);
}
.input-fields {
  position: relative;
}
.input-fields > input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;

  font: 400 1.5rem var(--medium);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  outline: none;
}
.input-fields > input[type="number"]::-webkit-inner-spin-button,
.input-fields > input[type="number"]::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
}

.input-expressions {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.hidden {
  display: none;
}

.signin-form > p {
  color: var(--black);
  font: 400 1.4rem var(--medium);
  margin-bottom: 1rem;
}

.signin-form > p > a {
  color: var(--website);
  font-weight: 600;
}

.signin-form > button {
  width: 30%;
  align-self: flex-end;
  padding: 1rem;
  color: var(--white);
  background-color: var(--website);

  font: 400 1.8rem var(--bold);
  text-align: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.wrong-number,
.wrong-name {
  color: var(--discount);
  font: 400 1.4rem var(--medium);
}

.wrong-password {
  color: var(--light-black);
  font: 400 1.4rem var(--medium);
}

.wrong-input {
  border: 0.1rem solid var(--discount) !important;
  animation: errorEffect 0.5s linear 0s 1 forwards;
}

.correct-input {
  border: 0.1rem solid #47b376 !important;
}

@keyframes errorEffect {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  to {
    transform: translateX(0);
  }
}
.close-signin {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.close-signin > img {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
}

.signup-fadeout {
  animation: signup-fadeout 0.5s ease 0s 1 forwards;
}

.password-view {
  position: absolute;
  right: 4rem;
  top: 1.3rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

@keyframes signup-fadeout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .navbar,
  .nestedFooter,
  main {
    max-width: 114rem;
  }
}
@media only screen and (max-width: 1140px) {
  .navbar,
  .nestedFooter,
  main {
    max-width: 96rem;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .navbar,
  .nestedFooter,
  main {
    max-width: 72rem;
  }
  .searchHolder {
    display: none;
  }
  .footerLinks,
  .paymentMethods {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .footerLinks > div {
    width: 45%;
  }
  .paymentPortals {
    width: 100%;
  }

  .questions {
    padding: 1rem 0rem;
  }

  .answers {
    padding: 1rem;
  }
  .city-popup {
    width: 45%;
  }

  .sign-in-dialogue {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  main {
    max-width: 54rem;
  }
  .navbar,
  .nestedFooter {
    max-width: 54rem;
    padding: 1rem 1rem 0rem;
  }

  .search > div {
    width: 100%;
  }
  .navbarLinks a,
  /* .dynamicLinks, */
  .navbarLinks,
  .flex1 {
    display: none;
  }
  .menuBtn {
    display: block;
  }

  .locationBtn,
  .logo {
    margin-right: 0em;
  }
  .navbar {
    justify-content: space-between;
  }
  .city-popup {
    width: 55%;
  }

  .footer-menu,
  .user-controlls {
    display: flex;
  }

  .sign-in-dialogue {
    width: 60%;
  }

  .sidemenu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    height: 100vh;
    width: 100vw;
  }

  .sidemenu-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 15;
  }
  .dynamicLinks {
    position: absolute;
    top: 0;
    left: -90%;
    height: 100vh;
    width: 90%;
    animation: sidemenuFade 0.5s ease 0s forwards;
  }

  @keyframes sidemenuFade {
    from {
      left: -90%;
    }
    to {
      left: 0%;
    }
  }

  .dynamicLinks-holder {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .dynamicLinks-holder > a {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.8rem rgba(28, 28, 28, 0.08);
    border: 0.1rem solid #e8e8e8;
    padding: 1.5rem;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .city-popup {
    width: 100%;
    padding-bottom: 7rem;
    border-radius: 2rem 2rem 0 0;
  }

  @keyframes cityFadein {
    0% {
      top: 150%;
    }

    to {
      top: 68%;
    }
  }

  .sign-in-dialogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    border-radius: 0;
    top: 0;
    left: 0;
    transform: none;
    z-index: 99;
  }

  @keyframes signupFadein {
    0% {
      top: 150%;
    }

    to {
      top: 0;
    }
  }
}
