.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.container > img {
  height: auto;
  width: 10%;
}

.container > h1 {
  color: #1c1c1c;
  font: 500 3rem var(--medium);
  opacity: 0.7;
}

.container > p {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.container > a {
  position: relative;
  padding: 1rem 3rem;
  margin-top: 2em;
  color: var(--white);
  background-color: var(--website);
  font-size: 1.6em;
  text-align: center;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .container > img {
    width: 40%;
  }
}
