.empty-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem 10rem;
  gap: 1rem;
}

.empty-container > img {
  height: auto;
  width: 30%;
}
.empty-container > h1 {
  color: var(--light-black);
  font: 700 3rem var(--medium);
}
.empty-container > p {
  color: #848484;
  font: 400 1.6rem var(--medium);
  text-align: center;
}
.empty-container > a {
  position: relative;

  padding: 1.5rem 3rem;
  margin-top: 2em;

  color: var(--website);
  background-color: #ff385d0e;

  font: 600 1.6rem var(--medium);
  text-align: center;
  transition: all 0.3s ease;

  border: 0.1rem solid var(--website);
  border-radius: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .empty-container > img {
    width: 50%;
  }
  .empty-container > a {
    margin-top: 1em;
  }

  .empty-container {
    padding: 12rem 1rem;
  }
}
